*.vcproj.*.*.user
*.user
*.suo
*.ncb
*.pch
*.pdb
*.idb
*.ilk
*.exp
*.Cache
*.dll

Accounting/Accounting/obj/
Bidding/Bidding/obj/
BiddingSystem/BiddingSystem/obj/
Checkout/Checkout/obj/
Library/Library/obj/
SetAuction/SetAuction/obj/

BiddingSystem/BiddingSystem/bin/Debug/Auctions/
BiddingSystem/BiddingSystem/bin/Debug/Video/
BiddingSystem/BiddingSystem/bin/Debug/1/
BiddingSystem/BiddingSystem/bin/Debug/*.exe
BiddingSystem/BiddingSystem/bin/Debug/*.dll
