*.vcproj.*.*.user
*.user
*.suo
*.ncb
*.pch
*.pdb
*.idb
*.ilk
*.exp
*.Cache
*.manifest

Accounting/Accounting/obj/
Bidding/Bidding/obj/
BiddingSystem/BiddingSystem/obj/
BiddingSystem/BiddingSystem/bin/Debug/Config/*.txt
BiddingSystem/BiddingSystem/bin/Debug/Save/*.txt
Checkout/Checkout/obj/
Library/Library/obj/
SetAuction/SetAuction/obj/
Accounting/Accounting/bin/*
Bidding/Bidding/bin/*
Checkout/Checkout/bin/*
Library/Library/bin/*
SetAuction/SetAuction/bin/*
CheckoutDealer/bin/Debug/
CheckoutDealer/obj/*
TakeBackDealer/bin/Debug/*
TakeBackDealer/obj/*

BiddingSystem/BiddingSystem/bin/Debug/Auctions/
BiddingSystem/BiddingSystem/bin/Debug/Video/
BiddingSystem/BiddingSystem/bin/Debug/1/
BiddingSystem/BiddingSystem/bin/Debug/*.exe
BiddingSystem/BiddingSystem/bin/Debug/Accounting.dll
BiddingSystem/BiddingSystem/bin/Debug/Bidding.dll
BiddingSystem/BiddingSystem/bin/Debug/Checkout.dll
BiddingSystem/BiddingSystem/bin/Debug/Library.dll
BiddingSystem/BiddingSystem/bin/Debug/SetAuction.dll
BiddingSystem/BiddingSystem/bin/Debug/CheckoutDealer.dll
BiddingSystem/BiddingSystem/bin/Debug/TakeBackDealer.dll

CheckoutDealer/bin/Debug/Library.dll
TakeBackDealer/bin/Debug/Library.dll
